body {
  font-family: 'Gill Sans', sans-serif;
  background: #89f6fa;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

li {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

input {
  background: #f8f8f8;
}

.root {
  padding: 100px;
}
